/* layouts */

.z-stack
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
}

.z-stack > * {
  grid-row: 1;    
  grid-column: 1;
}

.v-stack {
    display: flex;
    flex-direction: column;
}

.h-stack {
    display: flex;
    flex-direction: row;
}

.modern-scroll::-webkit-scrollbar {
    background-color: transparent;
}

/* .modern-scroll::-webkit-scrollbar-thumb {
    background: #479cc8;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 8px;
} */

.modern-scroll::-webkit-scrollbar-corner {
    background-color: transparent;
}

.modern-scroll::-webkit-scrollbar {
    background-color: transparent;
}

.modern-scroll::-webkit-scrollbar-thumb {
    background: rgba(9,30,66,.13);
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 8px;
}
